/*CSS STYLE SHEET CREATED BY JESSE HUDAK ON 2/8/2023 */

/* 
COLOR PALETTE USED ====> 
SPACE CADET: #2B2D42
COOL GREY: #8D99AE
ANTI-FLASH WHITE: #EDF2F4
RED (PANTONE): #EF233C
FIRE ENGINE RED: #D90429
*/

* {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url("1618500111-a-dark-forest-on-earth-l.webp");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}

header {
    color: antiquewhite;
    background-color: black;
}

.card {
    background-image: url("https://www.metal-archives.com/css/default/images/smallerlogo.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    width: 400px;
    height: 160px;
    color: antiquewhite;
    position: relative; /* new */
    
}
  

.card .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#721121;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px; /* adjust as needed */
}

.card-footer a {
    color:blanchedalmond;
}

.card-footer a:hover {
    color:#FABC3C; 
}  
